[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
black = "*"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
attrs = "*"
django-cors-headers = "*"
requests = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
